<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#" matTooltip="Customers"><mat-icon aria-label="customer">face</mat-icon></a>
      <a mat-list-item href="#" matTooltip="Projects"><mat-icon aria-label="project">folder</mat-icon></a>
      <a mat-list-item href="#" matTooltip="Settings"><mat-icon aria-label="settings">settings</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>XT Project Manager</span>
    </mat-toolbar>
    <app-customers-table></app-customers-table>
  </mat-sidenav-content>
</mat-sidenav-container>